body {
    font-family: 'Poppins', sans-serif;
}

pre{
    font-size: 7em;
}
.tick line {
   stroke:#C0C0BB;
}
.tick text {
  fill:#635F5D;
  font-family: 'Poppins', sans-serif;
}
.bar {
  fill: #0F8C79;
}
.bar:hover {
  cursor: pointer;
  fill: #137B80;
  transition: .3s
}
.axis-label {
  font-size: 2.5em;
  fill:#635F5D;
}
.chart{
  width:auto;
}

.inner-container{
  text-align: center;
  margin-top:1%;
}

.input-style input{
  border: 3.5px dashed #fff;
  border-radius: 3px;
  width:700px;
  height:75px;
  color: rgb(63, 63, 63);
  background-color:#91D8C7;
  margin-bottom:-5%;
  margin-left:10px;
  opacity:1;
}

.input-style input[type=submit]{
  border: 3.5px solid #fff;
  border-radius: 5px;
  width:100px;
  height:50px;
  color: rgb(63, 63, 63);
  background-color:#91D8C7;
  margin:auto;
  opacity:1;
  margin-left:10px;
} 

.input-style input:hover{
  cursor:pointer;
  transition: .3s;
  background-color:#0F8C79;
  opacity:1;
  color:#fff
}

.input-style input[type=submit]:hover{
  cursor:pointer;
  transition: .3s;
  background-color:#0F8C79;
  opacity:1;
  color:#fff;
}

input[type=date]{
  display:inline-block;
  border: 3.5px solid transparent;
  border-radius: 5px;
  width:100px;
  height:50px;
  color: rgb(63, 63, 63);
  background-color:#91D8C7;
  margin:auto;
  opacity:1;
  margin-top: 5px;
  margin-left:10px; 
  width: 200px;
  padding-left: 10px;
  padding-right: 10px;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
} 
input[type=date]:hover{
  cursor:pointer;
  transition: .3s;
  background-color:#0F8C79;
  opacity:1;
  color:#fff;
} 
svg{ 
  margin-top:-50px;
  height:400px;
  width:900px;
}

.top-left{
  display:inline-block;
  background-color: #91D8C7;
  color: rgb(63, 63, 63);
  border-radius: 3px;
  width: 25%;
  height: auto;
  text-align: left;
  padding: 10px 10px 0px 10px;
  margin: 10px 10px 0px 10px;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  position:relative;
}

.top-left:hover{
  background-color: #0F8C79;
  color: #fff;
}

.top-left h3{
  text-align:center;
}

hr{
  margin:5px 10px 10px -10px;
  width:100%;
}

/* screen sizes */

@media screen and (max-width: 1441px){
  .top-left { 
    width: 400px;
 }
 .input-style input{
   width: 700px;
 }
 .input-style input[type=submit]{
   width: 100px;
 }
 input[type=date]{
   width: 200px;
 }
 svg{
   transform: scale(1);
   margin:-5% 5% 0 -5%;
        /* t   r  b    l  */
 }
}

@media screen and (max-width: 951px){
  .top-left { 
    width: 425px;
 }
 .input-style input{
   width: 700px;
 }
 .input-style input[type=submit]{
   width: 100px;
 }
 input[type=date]{
   width: 200px;
 }
 svg{
   transform: scale(.9);
   margin:-5% 5% 0 -5%;
        /* t   r  b    l  */
 }
}

@media screen and (max-width: 891px){
  .top-left { 
    width: 47%;
 }
 .input-style input{
   width: 700px;
 }
 .input-style input[type=submit]{
   width: 100px;
 }
 input[type=date]{
   width: 200px;
 }
 svg{
   transform: scale(.8);
   margin:-5% 10% 0 -5%;
        /* t   r  b    l  */
 }
}

@media screen and (max-width: 760px){
  .top-left { 
    width: 47%;
 }
 .input-style input{
   width: 700px;
 }
 .input-style input[type=submit]{
   width: 100px;
 }
 input[type=date]{
   width: 200px;
 }
 svg{
   transform: scale(.8);
   margin:-5% 10% 0 -15%;
        /* t   r  b  l  */
 }
}

@media screen and (max-width: 731px){
  .top-left { 
    width: 78%;
    display:block
 }
 .input-style input{
   width: 580px;
 }
 .input-style input[type=submit]{
   width: 100px;
 }
 input[type=date]{
   width: 200px;
 }
 svg{
   transform: scale(.75);
   margin:-5% 10% 0 -19%;
        /* t   r  b  l  */
 }
}

@media screen and (max-width: 601px){
  .top-left { 
    width: 78%;
 }
 .input-style input{
   width: 60%;
 }
 .input-style input[type=submit]{
   width: 100px;
 }
 input[type=date]{
   width: 200px;
 }
 svg{
   transform: scale(.6);
   margin:-25% 10% 0 -30%;
        /* t   r  b  l  */
 }
}

@media screen and (max-width: 415px){
  .top-left { 
    width: 78%;
 }
 .input-style input{
   width: 60%;
   margin-left:-110px;
 }
 .input-style input[type=submit]{
   width: 100px;
   margin-left:-110px;
 }
 input[type=date]{
   width: 200px;
   margin-left:-110px;
 }
 svg{
   transform: scale(.38);
   margin:-45% 10% -30% -65%;
        /* t   r  b  l  */
 }
}

@media screen and (max-width: 361px){
  .top-left { 
    width: 78%;
 }
 .input-style input{
   width: 60%;
   margin-left:-110px;
 }
 .input-style input[type=submit]{
   width: 100px;
   margin-left:-110px;
 }
 input[type=date]{
   width: 200px;
   margin-left:-110px;
 }
 svg{
   transform: scale(.38);
   margin:-45% 10% -30% -80%;
        /* t   r  b  l  */
 }
}

@media screen and (max-width: 321px) {
  .top-left { 
     width: 100%;
  }
  .input-style input{
    width: 100%;
  }
  .input-style input[type=submit]{  
    width: 100%;
  }
  input[type=date]{
    width: 100%;
  }
  svg{
    transform: scale(.35);
    margin:-55% 0 -30% -92%;
  }
}